<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Styles/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

    <header class="header" id="main-header">
       
        <a asp-controller="Projects" asp-action="Index" class="logo">Jonas.</a>

        <div class="bx bx-menu" id="menu-icon"></div>

        <nav class="navbar">
            <a asp-controller="Projects" asp-action="Index" class="active">Home</a>
            <a asp-controller="Projects" asp-action="About">About</a>
            <a asp-controller="Projects" asp-action="Education">Education</a>
            <a asp-controller="Projects" asp-action="Projects">Projects</a>
            <a asp-controller="Projects" asp-action="Contact">Contact</a>

            <span class="active-nav"></span>

        </nav>
    </header>

    <div>
        @RenderBody()
    </div>
    @*<footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 by Jonas Pettersson | All Rights Reserved</p>
        </div>

    </footer>*@
    <script src="~/js/JavaScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
