<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <section class="education" id="education">
        <h2 class="heading">My <span>Education</span></h2>

        <div class="education-row">
            <div class="education-column">
                @*<h3 class="title">Education</h3>*@

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> 2023</div>
                            <h3>C# .NET - Brights Training</h3>
                            <p>
                                Extensive training in full-stack development with expertise in C#, ASP.NET Core MVC, Git version control,
                                SQL database management, CSS, HTML, and JavaScript. Proficient in Agile development methodologies,
                                particularly Scrum. Well-versed in building dynamic web applications and managing databases for seamless user experiences.
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> 2011 - 2015</div>
                            <h3>Graphic Design /Master Degree - North Park University</h3>
                            <p>
                                Comprehensive education in graphic design encompassing principles of design,
                                typography, color theory, layout, and composition. Proficient in industry-standard
                                software including Adobe Creative Suite (Photoshop, Illustrator, InDesign).
                                Experienced in image editing, illustration, and vector graphics. Skilled in print design,
                                brand identity, UI/UX design, and motion graphics. Well-versed in client communication,
                                project management, and portfolio development. Knowledgeable in the history of graphic design and ethical considerations.
                                Strong critical thinking and presentation skills.
                            </p>
                        </div>
                    </div>


                </div>
            </div>           
        </div>
    </section>

</body>
</html>
