<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <section class="home" id="home">
        <div class="home-content">
            <h1>Hi, I'm<span>Jonas Pettersson</span></h1>
            <div class="text-animate">
                <h3>Full Stack Developer</h3>
            </div>
            <p>Lorem ipsum dolor sit amaet consectur adisplici elit. Volupatibus at cupidate laborum quae
                facare debiti ipsam quasi, natus quisdam officilis fugit
                repallet veniam totam asperius dolorem nobis.
            </p>

            <div class="btn-box">
                <a href="Contact" class="btn">Let's Talk</a>
                @*<a href="#" class="btn">Let's Talk</a>*@
            </div>
        </div>

        <div class="home-sci">
            <a href="https://www.facebook.com/jonas.pettersson.7771/" target="_blank"><i class='bx bxl-facebook'></i></a>
            <a href="https://www.instagram.com/jonaspettersson_/" target="_blank"><i class='bx bxl-instagram'></i></a>
            <a href="https://www.linkedin.com/in/jonas-pettersson-575181105/" target="_blank"><i class='bx bxl-linkedin'></i></a>
        </div>

    
    </section>
</body>
</html>