<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <section class="message">
        <h2 class="message-header">Thank <span>You</span></h2>

        
    </section>
</body>
</html>
