<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <section class="portfolio" id="portfolio">
        <h2 class="heading">Latest <span>Projects</span></h2>

        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="~/Images/portfolio1.jpg" alt="movieMatch"/>
                <div class="portfolio-layer">
                    <h4>Web Design/ Final Project</h4>
                    <p>
                        According to The Independent, you spend an average of 99 days of your life choosing a movie. About half of the time, you don't even make a decision.

                        That's why we exist - Movie Match. With us, you search for movies sourced from IMDB and can easily add them to your list.

                        Compare your list with your movie partner and find common films. Then, either use our "Pick for Me" service or choose to take matters into your own hands.

                        With Movie Match, your movie choices become a bit more fun. Welcome in.

                    </p>
                    <a href="https://moviematchmvc20230917133807.azurewebsites.net/"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
